/* estilos correspondientes a la page3 */

.containerFrame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  height: 100vh;
  text-align: center;
}

.frame {
  grid-column: 1/3;
}



.canvas-m {
  background-image: url("../images/arrow-m.png");
}

