/* estilo para la pagina 6 */

.container6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  height: 100vh;
  text-align: center;
}

.imagenSilabaRandom {
  display: grid;
  gap: 10px;
}

.imagenSilabaRandom > div {
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
}

.imagenSilabaRandom > div:hover {
  box-shadow: 0 0 50px gold;
}

